<h1> Todo List! </h1>

<%= link_to "New Todo Item", new_todo_list_path %>

<% @todo_list.each do |todo_list| %>
    <li>
      <%= link_to todo_list.title, todo_list_path(todo_list.id) %>
      <%= link_to "edit", edit_todo_list_path(todo_list[:id]) %>
      <%= link_to "delete", todo_list, method: :delete, data: { confirm: "You sure?" } %>
    </li>
<% end %>